.itemList {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: left;
    margin-inline: auto;
    padding: 0;
    width: 17rem;
}

@media (min-width: 37rem) {
    .itemList {
        width: 35rem;
    }
}

@media (min-width: 55rem) {
    .itemList {
        width: 53rem;
    }
}
